body,html {
  width:100%;
  height:100%;
  background:linear-gradient(-45deg,#3f3c52 0,#161518 100%);
}

.navbar {
  height:60px;
  background: transparent;
  border-radius: 0;
  border-color:transparent;
}

/*
==Banners
*/
.banner {
  background: white;
  font-weight: 400;
  font-size: 40px;
  background-color: white;
  height:100%;
  text-align: center;
  display: flex-box;
  justify-content: center;
  position: relative;
  text-align: center;
}

.banner-side {
  height: 100%;
  text-align: left;
  position: relative;
}

.banner-showcase,.banner-message-centered {
  width: 100%;
  margin: auto;
  position:absolute;
  font-family: Helvetica;
}

.banner-message-centered {
  height:15%;
  top:30%;
}

.banner-showcase {
  font-size: 18px;
  color:#EFECEC;
  height:90%;
  top:3%;
  left: 0px;
  padding: 10px 25px;
  overflow-y: hidden;
}

.banner-showcase ul {
  padding-left: 0px !important;
  overflow-x:hidden;
  line-height: 30px;
}

.banner-showcase ul li {
  list-style: none;
  text-align: left;
  padding-left: 15px;
  border-left: 4px solid #3f3c52;
}

#logo {
  margin-bottom: 30px;
}

.banner-showcase ul li a{
    text-decoration: none;
    color:#CAC4C4;
}

.banner-showcase ul li:hover {
    border-left: 4px solid whitesmoke;
}

.full-height {
  min-height: 100%;
  height:100%;
}

.candidates-container {
  overflow-y: scroll;
  /*height: 95%;*/
}

/*
==Custom fonts
*/
@font-face {
  font-family: Helvetica;
  src: url("../fonts/HelveticaNeue-Light.otf");
}

/*
==Profile css
*/

#photoPath{
  width:180px;
  height:180px;
}

.url-img {
  height:65px;
  width: 70px;
  padding-right: 5px;
}

.profile-detail-wrapper {
  margin-top: 20px;
  margin-left: -100%;
}

.profile-detail {
  font-size: 22px;
  font-weight: 200;
}

.left-align {
  text-align: left;
}

#logo {
  height:100px;
  padding-top: 10px;
}

.profile-detail-wrapper #name {
  font-size: 35px;
  font-weight: 400px;
}

.url-collection {
  padding-top: 30px;
}

.banner #profile-section {
  position:absolute;
  left: -100%;
  width: 100%;
  background-color: white;
}

.position-zero {
  left:0% !important;
  transition: all 1s ease-in-out;
}

.profile-detail-wrapper-animate {
  margin-left: 0%;
  transition: all 1.5s ease-in-out;
}

.profile-detail-wrapper-anti-animate {
  margin-left: -100%;
  transition: all 1s ease-out;
}
